<div class="container under-construction">
			<%= image_tag("little-mike.png", :height => '160px', :width => '160px') %>
			<h2>This functionality is under heavy construction,<br>
			Please come back later!</h2>
</div>