<div class='container'>
	<div id='welcome-text'>
		<%= image_tag("monsters.jpg") %>
		<h2>THis is one of the gifts for our one year anniversary.</h2> 
		<h2><%= link_to "I am little genius!", poo_poo_path %></h2>
	</div>
</div>
