	<h3>welcome!</h3>
	<h3>warning: everything is under construction</h3>
  <h2>THis is one of the gifts for our one year anniversary. I am little genius!</h2>


  	<%= link_to "陈佳元", about_path, class: "btn btn-large btn-primary" %>
	<%= link_to "闫楠", about_path, class: "btn btn-large btn-primary" %>