<div class="jumbotron ">

	<h3>welcome!</h3>
  <h2>I am little genius</h2>

  	<%= link_to "a", about_path, class: "btn btn-large btn-primary" %>
	<%= link_to "b", about_path, class: "btn btn-large btn-primary" %>

</div>